@import "tailwindcss";


:root {
/* Colours */
  --foreground: #EDEDED;
  --backdrop: #101010;
  --backdrop50: #0f0f0f80;

  --c-primary: #00FF88;
  --c-primary20: #01ff8833;
  --c-primary10: #00ff881a;

  --c-secondary: #EDEDED;
  --c-secondary10: #ededed1a;
  --c-secondary5: #ededed0d;

  --c-tertiary: #A3A3A3;

  --c-accent-ylw: #FFE500;
  --c-accent20-ylw: #ffe60033;
  --c-accent10-ylw: #ffe6001a;

  --c-accent-blk: #1E1E1E;

/* Fonts */
  --f-header: var(--font-poppins);
  --f-body: var(--font-inter);

/* Font sizes */
  --h1-pref: calc(24.27px + 7.73vw);
  --body-pref: calc(7.45px + 0.85vw);
  --body-small-pref: calc(10.25px + 0.85vw);

}

@theme inline {
  --color-background: var(--backdrop);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backdrop: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--backdrop);
  color: var(--c-secondary);
  font-family: Arial, Helvetica, sans-serif;

  h1{
    font-family: var(--f-header);
    color: var(--c-secondary);
    font-style: normal;
    font-size: var(--h1-pref);
    letter-spacing: -.125rem;
    line-height: var(--h1-pref);

  }

  p{
    font-family: var(--f-body);
    font-size: var(--body-pref);
    font-weight: 400;
    color: var(--c-tertiary);
    line-height: 1.25rem;
  }
}
